<!-- FOOTER -->
<div
  class="jumbotron jumbotron-fluid"
  style="background-color: #100f0f; margin-bottom: 0%"
>
  <div class="container footer">
    <p class="footer orange smallp">
      Inițiativa Stop Luptelor de Câini este o asociație informală de oameni       
      care protejează câinii de cruzime. Ne puteți contacta trimițându-ne un mesaj la
      <a
        href="mailto: stopluptelordecaini@protonmail.com"
        style="color: #ffffff"
        class="smallp"
        >stopluptelordecaini@protonmail.com</a
      >. Tratăm toate mesajele ca fiind confidențiale.
    </p>
    <p class="whitep footer smallp">
      Site-ul nostru nu folosește cookie-uri sau alte tehnici
      pentru a identifica vizitatorii.
    </p>
  </div>
</div>
<a id="press"></a>
<a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fstopluptelordecaini.github.io&count_bg=%2379C83D&title_bg=%23555555&icon=&icon_color=%23E7E7E7&title=hits&edge_flat=false"/></a>
<!-- END OF FOOTER -->

